
.error-message {
  padding: 4px;
  border-radius: 4px;

  color: rgb(95, 33, 32);
  background-color: rgb(252, 237, 237);
}
.error-message > .error-message-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.error-message > .error-message-content {

}